html {

    position: relative;
    width: 1440px;
    height: 1024px;
    background: rgba(42, 40, 40, 0.96);

}
/*задний фон основной который*/

/* стиль кнопки старт*/
.start {
    background-color: #2D7EFF;
    position: absolute;
    width: 366px;
    height: 90px;
    left: 1180px;
    top: 800px;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
    font-size: 35px; 
    font-weight: bold; 
    text-align: center; 
    line-height: 90px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    box-shadow: 0px 4px 10px rgba(65, 138, 255, 0.5); 
    transition: background-color 0.3s ease; 
}

/* наводка на кнопку старт*/
.start:hover {
    background-color: #4F91FB; 
}


.active {
    background-color: #e80918;
    box-shadow: 0px 4px 10px rgba(225, 33, 33, 0.5);
    &:hover {
        background-color: #e83a46;
    }
}


/* расширение desktop*/
@media (min-width: 1440px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 1024px;
    }
}

/* окно с лесенкой*/
.frame-content {
    position: absolute;
    width: 790.2px;
    height: 753.64px;
    left: 81px;
    top: 113px;

    background: #242424;
    box-shadow: inset 0px 0px 2px 2px #868686;
    border-radius: 17px;

}


/* стиль текста Лесенка*/
.lesenka {
    position: absolute;
    width: 352px;
    height: 62px;
    left: 301px;
    top: 110px;
    color: #000000;
    background-color: #DAA9A9;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 31px;
    line-height: 62px;
}


/* общий стиль для кнопок*/
.btn {
    background-color: #555555;
    width: 58px;
    height: 17px;
    border-radius: 7px;
    border: none;
}



/* стиль для наведения ступенек в лесенке*/
.btn:hover {
    background-color: #767676;
}




/* стиль текста Кол-во камней*/
.kolvo_kamn {
    position: absolute;
    width: 317px;
    height: 56px;
    left: 1233px;
    top: 150px;

    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}


/*анимация*/
.anima {
    animation: transfor 8s infinite;
    position: absolute;
    top: 485px;
    left: 890px;
}






@keyframes transfor {

    0% {
        transform: translateX(0);
        
    }



    50% {
        transform: translateX(750px);
      
        
    }


    100% {
        transform: translateX(0);
    }


}



/* общий стиль для всех кнопок с выбором камней */
.vse {
    
    width: 64px;
    height: 60px;
    border-radius: 14px;
    background-color: #575757;
    font-size: 38px;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}



/* стиль для наведения на кнопки с выбором камней*/
.vse:hover {
    background-color: #818181;
}

/* при нажатии этой кнопки 
color: #575757;
background-color: #FFFFFF;
*/

